sudo: false
language: python
python:
- '2.7'
- pypy
before_install:
- ./setup.sh
- source .dev_env/bin/activate
install:
- pip install --upgrade setuptools
- pip install .
- pip install -r requirements.txt
script:
- nosetests tests
deploy:
  provider: pypi
  user: erichiggins
  on:
    tags: true
  password:
    secure: Ilet7Gy13l3rHmYDe35uxtGdhj1L3Q9p4KTTe/Q4Oo6CobvvsYgctfDGOFgwrNzy+vYDm9P4usUxu3Em//X46CQ5510YZXkYYQV57CPEbgWRx0Bz1ki221PMtuZkA38PEj5SWBQtQxvseDY7bKbP48XBvrI2GRzcJ8MXBKaPPBI=
