include LICENSE
include VERSION
include tox.ini
include *.txt
include *.md
include *.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include * *.rst *.md
